body{
  background-color: #dddded;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tit {
  animation: cambio-de-color 5s linear infinite; /* Cambia el color cada 5 segundos */
}


@keyframes cambio-de-color {
  0% {
    color: #079407; /* Verde inicial */
  }
  50% {
    color: #008000; /* Verde intermedio */
  }
  100% {
    color: #0e5b0e; /* Vuelve al verde inicial */
  }
}


.tabla{
  border-radius: 3%;
}

.tituloHobbie{
  font-weight: bold;
}

.descripcionHobbie{
  padding: 0px !important;
  padding-left: 5px !important;
  padding-bottom: 10px !important;
  
}

.presentacion{
  padding: 1px !important;
  margin-top: 10px !important;
  background-color: rgb(246, 234, 219);
  animation: appearAndSlide 1s ease-out forwards;
}

.resumen{
  padding:30px;
  text-align: center;
}



@keyframes appearAndSlide {
  0% {
    top: -100px; /* Fuera de la vista, arriba */
  }
  100% {
    top: 0; /* Llega a su posición final */
  }
}

.frames{
  animation: appearAndSlide 2s ease-out forwards;
}
.hobbies{
  animation: appearAndSlide 1s ease-out forwards;
}